// Colors Page

$bodyColor          : #161616;
$mainTextColor      : #BFBFBF;
$mainColor          : #EBAA14;
$overColor          : #303030;
$inputColor         : #1C1C1C;
$whiteColor         : #FFF;

@mixin transition{
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

// Font Import Cdn
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Local Style Page

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: $bodyColor;
  font-family: 'Poppins', sans-serif;
}

a, button, img, input, textarea, i{
  @include transition;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: $mainTextColor;
  &:hover, &:focus{
    color: $mainColor
  }
}

i{
  vertical-align: middle;
  color: $mainTextColor;
  &:hover, &:focus{
    color: $mainColor
  }
}

h1,h2,h3,h4,h5,h6,p{
  margin: 10px 0;
  color: $mainTextColor;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  display: inline-block;
}

// Style Scroll Site

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: $mainColor;
  border: 1px solid $mainColor
}

::-webkit-scrollbar-thumb {
  background: $mainColor;
}

// Style Button Site

button{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  width: 150px;
}

.btnDefault{
  background: $mainColor !important;
  color: #fff !important;
  border: 1px solid $mainColor !important;
}

.btnWhite{
  background: #fff !important;
  color: $mainColor !important;
  border: 1px solid #fff !important;
}

.btnBorderMain{
  background: transparent !important;
  color: #fff !important;
  border: 1px solid $mainColor !important;
}

// Colors

.colorDefault{
  color: $mainColor !important;
}

.colorBlack{
  color: $overColor !important;
}

.colorText{
  color: $mainTextColor !important;
}

.colorWight{
  color: $whiteColor !important;
}

// selection

::selection {
  background: $mainColor;
  color: #fff;
}

::-moz-selection {
  background: $mainColor;
  color: #fff;
}

/* Style Form Validation */

input{
  width: 100%;
  padding: 10px 20px;
  border: 1px solid $inputColor;
  color: $mainColor;
  background-color: $inputColor;
  border-radius: 5px;
  height: 45px;
  font-size: 14px;
  transition: 0.5s;
}

textarea{
  width: 100%;
  padding: 10px 20px;
  border: 1px solid $inputColor;
  color: $mainColor;
  background-color: $inputColor;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
  min-height: 230px;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder{
  color: $mainTextColor;
  opacity: 1;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}

input:focus {
  border-color: $mainColor !important;
}

// Flex Basic

.flex{
  display: flex;
}

.align-item-center{
  align-items: center;
}

.align-content-center{
  align-content: center;
}

.align-content-space{
  align-content: space-between;
}

.flex-no-wrap{
  flex-wrap: nowrap !important;
}

.row-reverse{
  flex-direction: row-reverse;
}

.flex-start{
  justify-content: flex-start;
}

.flex-column{
  flex-direction: column;
}

// Classes Used For Page

.back{
  transform: translateX(0px) !important;
}

.main-body{
  min-height: 500px;
  overflow: hidden;
}

.overlay-fix{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 88;
  @include transition;
}

.scroll-contain{
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}

//  Slider Owl

.owl-carousel{
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}

// Loading Page

.loader{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 99999;
}


