/* Colors Page */

$bodyColor          : #161616;
$mainTextColor      : #BFBFBF;
$mainColor          : #EBAA14;
$overColor          : #303030;
$inputColor         : #1C1C1C;
$whiteColor         : #FFF;