@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #161616;
}

a, button, input, textarea, i {
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  color: #BFBFBF;
}

i {
  vertical-align: middle;
  color: #BFBFBF;
}
i:hover, i:focus {
  color: #EBAA14;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;
  color: #BFBFBF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #EBAA14;
  border: 1px solid #EBAA14;
}

::-webkit-scrollbar-thumb {
  background: #EBAA14;
}

button {
  background-color: transparent;
  border: 0;
}

.btnDefault {
  background: #EBAA14 !important;
  color: #fff !important;
  border: 1px solid #EBAA14 !important;
}

.btnWhite {
  background: #fff !important;
  color: #EBAA14 !important;
  border: 1px solid #fff !important;
}

.btnBorderMain {
  background: transparent !important;
  color: #fff !important;
  border: 1px solid #EBAA14 !important;
}

.bt-button {
  cursor: pointer;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  width: 150px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.bt-button:before {
  content: "";
  position: absolute;
  top: 0px;
  transform: translateY(0px);
  left: 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #EBAA14;
  z-index: -1;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
.bt-button:hover:before {
  transform: translateX(0%);
  opacity: 1;
  visibility: initial;
}
.bt-button:hover {
  background-color: transparent !important;
  color: #FFF !important;
}

.colorDefault {
  color: #EBAA14 !important;
}

.bgDefault {
  background-color: #EBAA14 !important;
}

.colorBlack {
  color: #303030 !important;
}

.colorText {
  color: #BFBFBF !important;
}

.colorWight {
  color: #FFF !important;
}

::selection {
  background: #EBAA14;
  color: #fff;
}

::-moz-selection {
  background: #EBAA14;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #1C1C1C;
  color: #EBAA14;
  background-color: #1C1C1C;
  border-radius: 5px;
  height: 45px;
  font-size: 14px;
  transition: 0.5s;
}

textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #1C1C1C;
  color: #EBAA14;
  background-color: #1C1C1C;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
  min-height: 210px;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #BFBFBF;
  opacity: 1;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: #EBAA14 !important;
}

.flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-content-space {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-no-wrap {
  flex-wrap: nowrap !important;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.back {
  transform: translateX(0px) !important;
}

.overlay-fix {
  position: absolute;
  top: 0px;
  transform: translateY(0px);
  left: 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 88;
}

.fadeSec {
  opacity: 1 !important;
  visibility: initial !important;
  transform: translateY(0px) !important;
}

.fadingScroll {
  transform: translateY(300%) !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.font-Italic {
  font-style: italic;
}

.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}
.owl-carousel .owl-nav {
  display: none;
}

.animate-box {
  position: relative;
  opacity: 0;
  transition: all 1.1s ease-in-out;
  -o-transition: all 1.1s ease-in-out;
  -moz-transition: all 1.1s ease-in-out;
  -webkit-transition: all 1.1s ease-in-out;
}

.animate-box.animated {
  opacity: 1;
}

.animated {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 99999;
}
.loader .loading {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 3s linear infinite;
}
.loader .loading span {
  width: 32px;
  height: 32px;
  background-color: red;
  margin: 4px;
  animation: scale 1.5s linear infinite;
}
.loader .loading span:nth-child(1) {
  border-radius: 50% 50% 0 50%;
  background-color: #EBAA14;
  transform-origin: bottom right;
}
.loader .loading span:nth-child(2) {
  border-radius: 50% 50% 50% 0;
  background-color: #161616;
  transform-origin: bottom left;
  animation-delay: 0.5s;
}
.loader .loading span:nth-child(3) {
  border-radius: 50% 0 50% 50%;
  background-color: #BFBFBF;
  transform-origin: top right;
  animation-delay: 1.5s;
}
.loader .loading span:nth-child(4) {
  border-radius: 0 50% 50% 50%;
  background-color: #f5cd79;
  transform-origin: top left;
  animation-delay: 1s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  50% {
    transform: scale(1.3);
  }
}
.anime-text {
  position: relative;
  top: -7px;
}
.anime-text h1 {
  color: transparent;
  -webkit-text-stroke: 2px #BFBFBF;
  position: relative;
}
.anime-text h1:before {
  content: "Logo";
  text-align: center;
  color: #BFBFBF;
  animation: animate 4s ease-in-out infinite;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

@keyframes animate {
  0%, 100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgba(22, 22, 22, 0.9);
}
header .list-item ul li {
  position: relative;
}
header .list-item ul li:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  content: "";
  width: 20px;
  height: 1px;
  left: -17px;
  background-color: #BFBFBF;
}
header .list-item ul li:hover:before, header .list-item ul li.active:before {
  background-color: #EBAA14;
  left: 0;
  width: 100%;
  opacity: 0.2;
}
header .list-item ul li a {
  position: relative;
  overflow: hidden;
  font: 15px "Poppins", Medium;
}
header .list-item ul li a:before {
  content: attr(data-hover);
  overflow: hidden;
  position: absolute;
  top: -1px;
  left: 16px;
  width: 0;
  color: #EBAA14;
  white-space: nowrap;
  transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in-out;
}
header .list-item ul li a:hover {
  color: transparent;
}
header .list-item ul li a:hover:before {
  width: 100%;
}
header .list-item ul .active a:before {
  width: 100%;
}

.click-nav {
  display: none;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 44px;
  justify-content: center;
}
.click-nav .handle {
  background: #FDFFFC;
  height: 1px;
  width: 100%;
  margin: 0.32em auto;
  transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}
.click-nav .closed {
  transform: rotate(45deg);
  width: 40px;
  position: relative;
  top: -7px;
}
.click-nav .closed:nth-of-type(2) {
  transform: rotate(-45deg);
  margin: -0.5em 0.5em;
}
.click-nav .closed:nth-of-type(3) {
  display: none;
}

.container-section {
  padding: 0 70px;
  position: relative;
}
.container-section .overlay-fix {
  padding: 0 150px;
}
.container-section #sliderHome .owl-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: flex-start;
  display: flex;
  height: 45px;
  padding: 0 60px 0 10px;
}
.container-section #sliderHome .owl-dots button {
  height: auto !important;
  line-height: 0 !important;
}
.container-section #sliderHome .owl-dots button span {
  background-color: #BFBFBF;
  width: 25px;
  height: 2px;
  margin: 0 5px;
  display: inline-block;
}
.container-section #sliderHome .owl-dots .active span {
  background-color: #EBAA14;
}
.container-section #sliderHome .over-info i {
  font-size: 33px;
}
.container-section #sliderHome .owl-item.active h1, .container-section #sliderHome .owl-item.active h2, .container-section #sliderHome .owl-item.active p, .container-section #sliderHome .owl-item.active .href-btn {
  animation-name: translateInfo;
  animation-fill-mode: both;
}
.container-section #sliderHome .owl-item.active h1 {
  animation-duration: 1s;
  animation-delay: 1s;
}
.container-section #sliderHome .owl-item.active h2 {
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.container-section #sliderHome .owl-item.active p {
  animation-duration: 2s;
  animation-delay: 2s;
}
.container-section #sliderHome .owl-item.active .href-btn {
  animation-duration: 2.5s;
  animation-delay: 2.5s;
}
@keyframes translateInfo {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    visibility: initial;
    transform: translateY(0px);
  }
}
.container-section .scroll {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  width: 50px;
  margin: auto;
  font-size: 40px;
  text-align: center;
  z-index: 9;
  animation-name: translate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes translate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
.container-section .follow-me {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  text-align: center;
  z-index: 9;
}
.container-section .follow-me a:before {
  content: attr(data-hover);
  position: absolute;
  background-color: #FFF;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 25px;
  color: #000;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.container-section .follow-me a:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 5px solid transparent;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.container-section .follow-me a:hover:before, .container-section .follow-me a:hover:after {
  opacity: 1;
  visibility: initial;
}
.container-section .follow-me i {
  font-size: 14px;
}
.container-section .follow-me p {
  transform: rotate(-90deg);
  margin: 85px 0 35px 0;
  position: relative;
  font: 15px "Poppins", Medium;
  font-weight: 700;
}
.container-section .follow-me p:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 35px;
  background-color: #BFBFBF;
  top: 50%;
  right: -45px;
}
.container-section .slider-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9;
  letter-spacing: 2px;
  color: #FFF;
  opacity: 0.7;
}

.about-me {
  padding: 110px 0;
}
.about-me .fix-shape {
  position: absolute;
  top: 60px;
  right: 70px;
  max-width: 380px;
}
.about-me .img-me img {
  width: 490px;
  height: 490px;
  margin: auto;
  display: table;
  border-radius: 10px;
}
.about-me .img-me:before {
  content: "";
  width: 350px;
  height: 350px;
  background-color: #EBAA14;
  position: absolute;
  bottom: -22px;
  right: 0;
}

.cir-count {
  position: relative;
  padding: 10px;
  margin: 15px 0;
}
.cir-count svg {
  position: absolute;
  right: 0;
  top: -15px;
  margin: auto;
  left: 0;
  animation: rotating 30s infinite linear;
  opacity: 0.4;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.circle_percent {
  font-size: 200px;
  width: 1em;
  height: 1em;
  position: relative;
  background: #303030;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.circle_percent .circle_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  clip: rect(0 1em 1em 0.5em);
}
.circle_percent .circle_inner .round_per {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background: #EBAA14;
  clip: rect(0 1em 1em 0.5em);
  transform: rotate(180deg);
  transition: 1.05s;
}
.circle_percent .circle_inner .round_per:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 99;
}
.circle_percent .circle_inner .round_per:before {
  background-color: #FFF;
  top: 190px;
  right: 89px;
}
.circle_percent .circle_inbox {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #161616;
  z-index: 3;
  border-radius: 50%;
}
.circle_percent .circle_inbox .percent_text {
  position: absolute;
  font-size: 45px;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #FFF;
  letter-spacing: 2px;
}
.circle_percent h6 {
  position: absolute;
  top: 56%;
  text-align: center;
  z-index: 9;
  width: 100%;
  color: #BFBFBF;
  font: 20px "Poppins", Medium;
}

.percent_more .circle_inner {
  clip: rect(0 0.5em 1em 0em);
}

.percent_more:after {
  content: "";
  position: absolute;
  left: 0.5em;
  top: 0;
  right: 0;
  bottom: 0;
  background: #EBAA14;
}

.head-info {
  text-align: center;
  margin: 30px 0;
}
.head-info h2 {
  position: relative;
  padding-bottom: 14px;
}
.head-info h2:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 3px;
  background-color: #EBAA14;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.services-section {
  background-color: #131313;
}
.services-section .block-item-service {
  background-color: #303030;
  text-align: center;
  padding: 20px 50px;
  box-shadow: 0 0 0 0 #EBAA14 inset;
  transition: 1s;
}
.services-section .block-item-service span {
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  position: relative;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
}
.services-section .block-item-service i {
  font-size: 35px;
  margin: 20px 0;
}
.services-section .block-item-service p {
  font-size: 14px;
}
.services-section .block-item-service:hover {
  box-shadow: 0 0 0 300px #EBAA14 inset;
}
.services-section .block-item-service:hover span {
  background-color: #303030;
}
.services-section .block-item-service:hover i, .services-section .block-item-service:hover h5, .services-section .block-item-service:hover p {
  color: #FFF !important;
}

.nav-tabs {
  border: 0;
  justify-content: center;
}
.nav-tabs .nav-item {
  margin-bottom: 0;
  width: auto;
  text-align: center;
  padding: 5px;
}
.nav-tabs .nav-link {
  color: #BFBFBF;
  font: 17px "Poppins", Medium;
  border: 0;
  position: relative;
  padding: 0;
  border-radius: 0;
  margin: 0 20px;
}
.nav-tabs .nav-link:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #BFBFBF;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(30deg);
}
.nav-tabs .nav-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #EBAA14;
  bottom: -10px;
  left: 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.nav-tabs .nav-link:hover {
  color: #EBAA14;
}
.nav-tabs .nav-link.active {
  color: #EBAA14;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link:hover:before, .nav-tabs .nav-link.active:before {
  width: 40%;
}
.nav-tabs .nav-item:last-child .nav-link:after {
  display: none;
}

.block-item-portfolio img {
  width: 100%;
  height: 270px;
  border-radius: 5px;
}
.block-item-portfolio .overlay-fix {
  transform: translateX(-100%);
}
.block-item-portfolio .overlay-fix .href-info a {
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin: 0 5px;
}
.block-item-portfolio .overlay-fix .href-info a:hover {
  background-color: #EBAA14;
  border-color: #EBAA14;
}
.block-item-portfolio .overlay-fix .href-info a i {
  color: #FFF;
}
.block-item-portfolio:hover .overlay-fix {
  transform: translateX(0%);
}

.available-section .info-available {
  padding: 0 100px;
}
.available-section .pos-img {
  position: absolute;
  top: 5px;
}
.available-section .pos-img.item1 {
  left: 0;
}
.available-section .pos-img.item2 {
  right: 0;
}

.slider-client {
  background-color: #131313;
  margin: 10px 0;
  padding: 40px 0;
}
.slider-client .info-client {
  padding: 0 105px;
}
.slider-client .info-client .quote-fix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  margin: auto;
}
.slider-client .info-client .quote-fix i {
  font-size: 250px;
  opacity: 0.1;
  color: #3c3c3c;
}
.slider-client .info-client .img-client {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 50%;
}
.slider-client .info-client .img-client:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  border: 1px solid #EBAA14;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.slider-client .info-client .img-client span {
  animation: rotating 30s infinite linear;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}
.slider-client .info-client .img-client span:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(50deg);
  left: 50%;
  background-color: #131313;
  width: 120px;
  height: 20px;
}
.slider-client .info-client .img-client span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(-30deg);
  left: 50%;
  background-color: #131313;
  width: 120px;
  height: 20px;
}
.slider-client .info-client .img-client img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  z-index: 9;
}
.slider-client .info-client i {
  margin: 0 2px;
  font-size: 15px;
}
.slider-client .owl-nav {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  right: 0;
  padding: 0 30px;
}
.slider-client .owl-nav button {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
  font-size: 14px !important;
}
.slider-client .owl-dots {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  z-index: 8;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slider-client .owl-dots span {
  background-color: #BFBFBF;
  width: 10px;
  height: 3px;
  margin: 0 2px;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.slider-client .owl-dots .active span {
  width: 20px;
  background-color: #EBAA14;
}

.blog-section .item-blog {
  background-color: #1E1E1E;
  border: 1px solid #1E1E1E;
  position: relative;
  padding: 5px;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.blog-section .item-blog .img-blog img {
  width: 100%;
  height: 280px;
}
.blog-section .item-blog .img-blog .sec-date {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #EBAA14;
  padding: 5px;
  border-radius: 5px;
}
.blog-section .item-blog .img-blog .sec-date .info-date {
  background-color: #FFF;
  padding: 0 15px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.blog-section .item-blog .img-blog .sec-date .info-date span {
  font-size: 30px;
  font-weight: bold;
  color: #5E5E5E;
}
.blog-section .item-blog .img-blog .sec-date .info-date p {
  color: #5E5E5E;
}
.blog-section .item-blog .img-blog .overlay-fix {
  transform: translateX(-100%);
}
.blog-section .item-blog .img-blog .overlay-fix a {
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin: 0 5px;
}
.blog-section .item-blog .img-blog .overlay-fix a:hover {
  background-color: #EBAA14;
  border-color: #EBAA14;
}
.blog-section .item-blog .img-blog .overlay-fix a i {
  color: #FFF;
}
.blog-section .item-blog .info-blog {
  padding: 15px;
}
.blog-section .item-blog .info-blog h4 {
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.blog-section .item-blog .info-blog a {
  font-size: 12px;
  font-weight: bold;
}
.blog-section .item-blog:hover .overlay-fix {
  transform: translateX(0%);
}
.blog-section .item-blog:hover .info-date {
  background-color: #EBAA14 !important;
}
.blog-section .item-blog:hover .info-date span, .blog-section .item-blog:hover .info-date p {
  color: #FFF !important;
}
.blog-section .item-blog:hover .info-blog h4, .blog-section .item-blog:hover .info-blog a {
  color: #EBAA14 !important;
}
.blog-section .item-blog .shape-bor:before, .blog-section .item-blog .shape-bor:after {
  content: "";
  position: absolute;
  background-color: #EBAA14;
  z-index: 998;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.blog-section .item-blog .shape-bor.shape-1:before, .blog-section .item-blog .shape-bor.shape-1:after {
  bottom: 0;
  left: 0;
}
.blog-section .item-blog .shape-bor.shape-2:before, .blog-section .item-blog .shape-bor.shape-2:after {
  top: 0;
  right: 0;
}
.blog-section .item-blog .shape-bor.shape-1:before, .blog-section .item-blog .shape-bor.shape-2:before {
  width: 1px;
  height: 0;
}
.blog-section .item-blog .shape-bor.shape-1:after, .blog-section .item-blog .shape-bor.shape-2:after {
  height: 1px;
  width: 0;
}
.blog-section .item-blog:hover .shape-1:before, .blog-section .item-blog:hover .shape-2:before {
  height: 100%;
}
.blog-section .item-blog:hover .shape-1:after, .blog-section .item-blog:hover .shape-2:after {
  width: 100%;
}

.contact-section .call-info:before {
  content: "";
  position: absolute;
  top: 44px;
  width: 70%;
  height: 1px;
  background-color: #303030;
  right: 0;
  left: 0;
  margin: auto;
}
.contact-section .call-info .con-call {
  text-align: center;
  position: relative;
}
.contact-section .call-info .con-call span {
  margin: 10px auto;
  width: 65px;
  height: 65px;
  border: 1px solid #EBAA14;
  background-color: #161616;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.contact-section .call-info .con-call span i {
  font-size: 24px;
  color: #EBAA14;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.contact-section .call-info .con-call:hover span {
  background-color: #EBAA14;
}
.contact-section .call-info .con-call:hover i {
  color: #FFF;
}

footer ul li a {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
  font-size: 14px;
}
footer ul li a:hover {
  background-color: #EBAA14;
  color: #FFF;
}
footer ul li a:hover i {
  color: #FFF;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #161616;
}

a, button, input, textarea, i {
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  color: #BFBFBF;
}

i {
  vertical-align: middle;
  color: #BFBFBF;
}
i:hover, i:focus {
  color: #EBAA14;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;
  color: #BFBFBF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #EBAA14;
  border: 1px solid #EBAA14;
}

::-webkit-scrollbar-thumb {
  background: #EBAA14;
}

button {
  background-color: transparent;
  border: 0;
}

.btnDefault {
  background: #EBAA14 !important;
  color: #fff !important;
  border: 1px solid #EBAA14 !important;
}

.btnWhite {
  background: #fff !important;
  color: #EBAA14 !important;
  border: 1px solid #fff !important;
}

.btnBorderMain {
  background: transparent !important;
  color: #fff !important;
  border: 1px solid #EBAA14 !important;
}

.bt-button {
  cursor: pointer;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  width: 150px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.bt-button:before {
  content: "";
  position: absolute;
  top: 0px;
  transform: translateY(0px);
  left: 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #EBAA14;
  z-index: -1;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
.bt-button:hover:before {
  transform: translateX(0%);
  opacity: 1;
  visibility: initial;
}
.bt-button:hover {
  background-color: transparent !important;
  color: #FFF !important;
}

.colorDefault {
  color: #EBAA14 !important;
}

.bgDefault {
  background-color: #EBAA14 !important;
}

.colorBlack {
  color: #303030 !important;
}

.colorText {
  color: #BFBFBF !important;
}

.colorWight {
  color: #FFF !important;
}

::selection {
  background: #EBAA14;
  color: #fff;
}

::-moz-selection {
  background: #EBAA14;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #1C1C1C;
  color: #EBAA14;
  background-color: #1C1C1C;
  border-radius: 5px;
  height: 45px;
  font-size: 14px;
  transition: 0.5s;
}

textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #1C1C1C;
  color: #EBAA14;
  background-color: #1C1C1C;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
  min-height: 210px;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #BFBFBF;
  opacity: 1;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: #EBAA14 !important;
}

.flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-content-space {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-no-wrap {
  flex-wrap: nowrap !important;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.back {
  transform: translateX(0px) !important;
}

.overlay-fix {
  position: absolute;
  top: 0px;
  transform: translateY(0px);
  left: 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 88;
}

.fadeSec {
  opacity: 1 !important;
  visibility: initial !important;
  transform: translateY(0px) !important;
}

.fadingScroll {
  transform: translateY(300%) !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.font-Italic {
  font-style: italic;
}

.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}
.owl-carousel .owl-nav {
  display: none;
}

.animate-box {
  position: relative;
  opacity: 0;
  transition: all 1.1s ease-in-out;
  -o-transition: all 1.1s ease-in-out;
  -moz-transition: all 1.1s ease-in-out;
  -webkit-transition: all 1.1s ease-in-out;
}

.animate-box.animated {
  opacity: 1;
}

.animated {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 99999;
}
.loader .loading {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  animation: rotate 3s linear infinite;
}
.loader .loading span {
  width: 32px;
  height: 32px;
  background-color: red;
  margin: 4px;
  animation: scale 1.5s linear infinite;
}
.loader .loading span:nth-child(1) {
  border-radius: 50% 50% 0 50%;
  background-color: #EBAA14;
  transform-origin: bottom right;
}
.loader .loading span:nth-child(2) {
  border-radius: 50% 50% 50% 0;
  background-color: #161616;
  transform-origin: bottom left;
  animation-delay: 0.5s;
}
.loader .loading span:nth-child(3) {
  border-radius: 50% 0 50% 50%;
  background-color: #BFBFBF;
  transform-origin: top right;
  animation-delay: 1.5s;
}
.loader .loading span:nth-child(4) {
  border-radius: 0 50% 50% 50%;
  background-color: #f5cd79;
  transform-origin: top left;
  animation-delay: 1s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  50% {
    transform: scale(1.3);
  }
}
@media screen and (max-width: 990px) {
  .owl-dots, .owl-nav, .scroll, .href-btn a:last-child, .slider-counter, .pos-img {
    display: none !important;
  }

  .list-item {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFF;
    left: 0;
    height: 100%;
    padding-top: 100px;
    z-index: 997;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    transform: translateX(-100%);
  }
  .list-item ul {
    flex-direction: column;
  }
  .list-item ul li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .list-item ul li:before {
    width: 3px;
    height: 20px;
    left: 0;
  }
  .list-item ul li:after {
    display: none;
  }
  .list-item ul li:hover:before {
    background-color: #EBAA14;
  }
  .list-item ul .active:before {
    background-color: #EBAA14;
  }

  .anime-text {
    z-index: 998;
  }

  .click-nav {
    display: flex;
  }

  .col-md-2, .col-md-6, .col-md-3, .col-md-4 {
    flex: 100%;
    max-width: 100%;
  }

  .container-section {
    padding: 0;
  }
  .container-section .overlay-fix {
    padding: 0;
  }
  .container-section .overlay-fix .over-info h1, .container-section .overlay-fix .over-info h2 {
    font-size: 24px;
  }
  .container-section .follow-me {
    position: fixed;
    top: auto;
    bottom: 0;
    transform: translateY(0%);
    left: 0;
    text-align: center;
    z-index: 9111;
    width: 100%;
  }
  .container-section .follow-me .social-tool-tip {
    position: absolute;
    flex-direction: row !important;
    top: -65px;
    background-color: #FFF;
    padding: 0 20px;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    width: 95%;
    border-radius: 5px;
  }
  .container-section .follow-me .social-tool-tip:before {
    content: "";
    position: absolute;
    bottom: -9px;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #FFF;
  }
  .container-section .follow-me .social-tool-tip a {
    width: 35px;
    height: 35px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #EBAA14;
    border-radius: 50%;
    margin: 0 10px;
  }
  .container-section .follow-me .social-tool-tip a:before, .container-section .follow-me .social-tool-tip a:after {
    display: none;
  }
  .container-section .follow-me .social-tool-tip a i {
    color: #FFF;
    font-size: 11px;
  }
  .container-section .follow-me p {
    transform: rotate(0deg);
    position: relative;
    bottom: 0;
    z-index: 9;
    text-align: center;
    padding: 7px;
    background-color: #EBAA14;
    color: #FFF;
    width: 122px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
  .container-section .follow-me p:before {
    display: none;
  }
  .container-section .follow-me .social-tool-tip:last-child {
    display: none;
  }

  .about-me {
    padding: 60px 0;
  }
  .about-me .fix-shape {
    top: 28px;
    right: 0;
    max-width: 240px;
  }
  .about-me .img-me img {
    width: 100%;
    height: 265px;
  }
  .about-me .img-me:before {
    width: 190px;
    height: 190px;
    bottom: -13px;
    right: -10px;
  }
  .about-me .info-me {
    margin-top: 45px;
  }

  .nav-tabs .nav-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .nav-tabs .nav-link:after {
    display: none;
  }
  .nav-tabs .nav-link:before {
    right: 0;
    margin: auto;
  }
  .nav-tabs .nav-link:hover:before, .nav-tabs .nav-link.active:before {
    width: 60px;
  }

  .available-section .info-available {
    padding: 0 10px;
  }
  .available-section .flex {
    flex-direction: column;
  }

  .slider-client .info-client {
    padding: 0 10px;
  }
  .slider-client .info-client .quote-fix i {
    font-size: 50px;
  }
  .slider-client .owl-nav {
    display: none !important;
  }

  .contact-section .call-info {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact-section .call-info:before {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
